In [1]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import string
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = "/home/youcs/Documents/sorted_books/kaggle data/Movie_Review_Sentiments/"
train = "train.tsv"
'''
0 - negative
1 - somewhat negative
2 - neutral
3 - somewhat positive
4 - positive
'''

'\n0 - negative\n1 - somewhat negative\n2 - neutral\n3 - somewhat positive\n4 - positive\n'

In [3]:
df = pd.read_table(path+train)

In [4]:
df

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [5]:
# words -> lower -> punc -> not_alpha -> stopwords -> stem
def text_cleaning(df_phrases):
    phrases = []
    stop_words = set(stopwords.words('english'))
    for phrase in df_phrases:
        phrases.append(phrase.lower())
    phrases = [x for x in phrases if x not in string.punctuation]
    phrases = [x for x in phrases if x.isalpha()]
    phrases = [x for x in phrases if x not in stop_words]
    phrases = [PorterStemmer().stem(x) for x in phrases]
    phrases = [x for x in phrases if len(x) > 1]
    return set(phrases)

In [6]:
tokens = text_cleaning(df.Phrase)

In [7]:
len(tokens)

10173