In [2]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

import string
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from collections import Counter

from keras.preprocessing.text import text_to_word_sequence
from keras.preprocessing.text import Tokenizer

Using TensorFlow backend.

In [3]:
path = "../data/Movie_Review/"
train = "train.tsv"
test = "test.tsv"
'''
0 - negative
1 - somewhat negative
2 - neutral
3 - somewhat positive
4 - positive
'''

'\n0 - negative\n1 - somewhat negative\n2 - neutral\n3 - somewhat positive\n4 - positive\n'

In [4]:
def load_data(path,file):
    try:
        df = pd.read_csv(path+file)
    except:
        df = pd.read_table(path+file)
    return df

In [24]:
# words -> lower -> punc -> not_alpha -> stopwords -> stem
def clean_text(phrase):
    stop_words = set(stopwords.words('english'))
    tokens = phrase.lower()
    tokens = [x for x in tokens.split() if x not in string.punctuation]
    tokens = [x for x in tokens if x.isalpha()]
#     tokens = [PorterStemmer().stem(x) for x in tokens]
    return tokens

In [ ]:
def tokenize(sentences):
    tokens = []

In [21]:
df = load_data(path,train)

In [22]:
df

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [27]:
tokens = [set(clean_text(x)) for x in df.Phrase]

In [33]:
a = [x.split() for x in df.Phrase]

In [35]:
a = [x for x in a if x not in string.punctuation]
a = [x for x in a if x.isalpha()]

TypeError: 'in <string>' requires string as left operand, not list